<%- errorMessagesFor(device) %>
<div class="control-group">
  <%- form.input("name", {placeholder: 'device name'}) %>
  <%- form.input("type", {placeholder: 'device type'}) %>
  <%- form.input("status", {placeholder: 'device status'}) %>
  <%- form.input("icon", {placeholder: 'device icon'}) %>
</div>
