<ul class="breadcrumb">
    <li><a href="/">Home</a> <span class="divider">/</span></li>
    <li><a href="<%- pathTo.devices() %>">devices</a> <span class="divider">/</span></li>
    <li class="active"><a href="#">Edit device</a></li>
</ul>

<div class="page-header">
    <h1>Edit device</h1>
</div>

<% var form = formFor(device, {action: pathTo.device(device), method: 'PUT', id: "device-form", class: 'form-horizontal'}) %>
<%- form.begin() %>
<%- include _form %>
<div class="form-actions">
    <%- form.submit('<i class="icon-ok icon-white"></i> Update device', {class: 'btn btn-primary'}) %> or
    <%- linkTo('Cancel', pathTo.device(device), {class: 'btn'}) %>
</div>
<%- form.end() %>
